@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Product product = ViewBag.Data as Product;
    Product product2 = ViewBag.Data2 as Product;
}
<div>product: @product.Id => @product.Name => @product.Price</div>
<div>product2: @product2.Id => @product2.Name => @product2.Price</div>